.loading2 {
  div {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 45%;
    background-color: #ccc;
    border-radius: 50%;
    font-zize: 18px;
    color: #fff;
    text-align: center;
    line-height: 2em;
  }

  div:nth-child(1) {
    background-color: #FF5460;
    animation: move 2s infinite cubic-bezier(.2,.64,.81,.23);
  }
  div:nth-child(2) {
    background-color: #FF9D84;
    animation: move 2s 150ms infinite cubic-bezier(.2,.64,.81,.23);
  }
  div:nth-child(3) {
    background-color: #F0E797;
    animation: move 2s 300ms infinite cubic-bezier(.2,.64,.81,.23);
  }
  div:nth-child(4) {
    background-color: #75B08A;
    animation: move 2s 450ms infinite cubic-bezier(.2,.64,.81,.23);
  }
}



@keyframes move {
  0% {left: 0%;}
  100% {left:100%;}
}
