#support {
	img {
		padding: 20px;
	}
	h1 {
		color: #4e4e4e;
	}
	.suptxt {
		a {
			color: #fff;
		}
	}
}

.partner-card {
	height: 212px;
	border: 1px solid #c5c5c5;
	border-radius: 20px;
	text-align: center;
	margin: 7px 0;
}
