.space{padding-top:40px;padding-bottom:40px}
.ym-top{width:100%;height:auto}
.item h3{font-size:24px;margin-top:20px;margin-bottom:10px;color:#fff;font-weight:500;line-height:1.1;text-shadow:2px 2px 2px #000}
.add-left{border-left:10px;border-right:10px}
.add-left img{width:100%;height:auto}
.news-one img{width:100%;height:auto}
.news-right{margin-top:20px}
.news-left{padding:15px}
.news-one{margin:5px 0;background-color:#f2f2f2}
.space h1{margin-top:0;margin-bottom:25px;text-align:center;color:#4e4e4e}
.ml{margin-left:0}
#course{background:url(../images/team/bg-course.jpg);background-size:100% 100%}
.course-row img{width:130px;height:auto}
.tea-top{padding-bottom:15px;margin:0 auto}
.single-profile-top{border:0}
.single-profile-top p{margin:0 auto;width:90%}
.media-teac{margin:0 auto;width:100%;}
.mini{width:100%;height:auto}