/**
 * WHOLE
 */
.sm-title {
  font-size: 1.5em;
  font-weight: 600;
}

.sm-tag {
  font-size: 1.2em;
  font-weight: 600;
}

.white {
  color: white;
}

.bg-pattern1 {
  background: url("../images/pattern/pattern3.jpg") repeat 0 0;
}

.bg-pattern-dot {
  background: url("../images/pattern/pattern4.jpg") repeat 0 0;
}

.bg-pattern-black {
  background: url("../images/pattern/pattern5.jpg") repeat 0 0;
}

.bg-pattern-white-1 {
  background: url("../images/pattern/pattern6.jpg") repeat 0 0;
}

.bg-pattern-blue-1 {
  background: url("../images/pattern/pattern8.jpg") repeat 0 0;
}

.bg-gray {
  background: #f2f2f2;
}

.v-middle {
  vertical-align: middle;
  margin-top: .5em;
}

.mbold {
  color: #db3615;
  font-weight: bold;
}

section#main-slider {
  padding: 0;
}

#menu-job-menu a {
  color: black;
}

.accordion img {
  width: 160px;
  height: auto;
}

.carousel-content p,.carousel-content h1,.carousel-content h4 {
  color: #fff;
}

table th {
  text-align: center;
}

.single-post p img {
  margin-left: 60px;
}
.single-post #main-slider h1 {
  color: #fff;
}
.single-post h1 {
  color: #4e4e4e;
  margin-bottom: 30px;
}
.single-post h2 {
  margin-bottom: 20px;
}

.media-body p {
  line-height: 1.9em;
}

.testimonial {
  text-align: justify;
}
.testimonial p {
  line-height: 1.3em;
  font-size: 0.9em;
}

.product_title {
  color: #333;
}

#partner .row {
  margin-bottom: 30px;
}

.right {
  text-align: right;
}

.no-padding {
  padding: 0px;
}

.p-5 {
  padding: 50px;
}

.p-2 {
  padding: 20px;
}

.p-box {
  padding: 150px 80px;
  background-position: center center;
}

.pb-3 {
  padding-bottom: 30px;
}

.mb-2 {
  margin-bottom:20px;
}
.mb-3 {
  margin-bottom: 30px;
}

.mb-5 {
  margin-bottom: 50px;
}
.pl-0{
  padding-left:0;
}
.pr-0{
  padding-right:0;
}

/**
 * HOMEPAGE
 */
.post-title {
  text-align: center;
}

.navbar-home {
  padding: 0px;
}
.navbar-home .navbar-collapse {
  padding: 0;
}
.navbar-home .navbar-collapse .navbar-nav > li {
  padding-bottom: 13px;
}
.navbar-home .container {
  padding: 0px;
}
.navbar-home a.navbar-brand {
  margin-top: 10px;
}
.navbar-home a.navbar-brand img {
  height: 35px;
}

.sub-menu {
  display: none;
}

#menu-body-menu {
  position: relative;
}
#menu-body-menu .current_page_item .sub-menu,
#menu-body-menu .current_page_parent .sub-menu {
  display: block;
}
#menu-body-menu > li > .sub-menu {
  padding: 0;
  display: none;
  position: absolute;
  width: 1000px;
  top: 35px;
  left: 0px;
}
#menu-body-menu li:first-child {
  margin-left: 0px !important;
}

.sub-menu > li {
  float: left;
  margin-left: 18px;
}

.navbar-special {
  background-color: #fff;
}
.navbar-special .navbar-brand > img {
  width: 300px;
  margin-left: 50px;
}
.navbar-special a {
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
}

.navbar-global {
  padding: 0;
  background: transparent;
  border-bottom: 1px solid #A52022;
  height: 34px;
  min-height: 34px;
}
.navbar-global .navbar-nav {
  margin-top: 0px;
}
.navbar-global .navbar-nav > li {
  padding-bottom: 0px;
  font-size: 12px;
}

.navbar-global .navbar-nav > li > a,
.navbar-shop .navbar-nav > li > a {
  color: black;
}

#shop .navbar {
  padding: 0px;
}

.navbar-shop {
  background: transparent;
  height: 50px;
  margin: 0px 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
}
.navbar-shop .navbar-nav {
  margin-top: 0px;
}
.navbar-shop .navbar-brand {
  height: auto;
}
.navbar-shop a.navbar-brand img {
  height: 30px;
}

#about-slider {
  margin-bottom: 30px;
}

/**
 * TEAM PAGE
 */
.single-team {
  margin-top: 50px;
}

.info-section {
  font-size: 2em;
}

.card {
  padding-top: 20px;
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
}

.card.hovercard .cardheader {
  background-color: #FFF;
  background-size: cover;
  height: 200px;
}

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card.hovercard .avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.card.hovercard .info {
  padding: 25px 7em;
  text-align: left;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

/**
 * CHONGQING PAGE
 */
.navbar.cq {
  background-color: #fff;
  padding: 0px;
}
.navbar.cq .navbar-nav {
  margin-top: 0px;
}
.navbar.cq .navbar-nav > li {
  padding: 0px;
}

.navbar-100 {
  position: relative;
}
.navbar-100 img {
  width: 100px;
}

#fes-0 {
  background-image: url("../images/cq/bg-1.jpg");
  text-shadow: 0 3px 5px black;
  color: #fff;
}
#fes-0 h2 {
  color: #fff;
}

#fes-1 {
  background-image: url("../images/cq/bg-2.jpg");
  text-shadow: 0 3px 5px black;
  color: #fff;
}
#fes-1 h2 {
  color: #fff;
}

#fes-2,
#fes-3,
#fes-4,
#fes-5,
#fes-6 {
  padding: 50px 80px;
}

#fes-2 img {
  width: 100%;
}

.gray-bg {
  background-color: #e3e3e3;
}

/* Team Members */
.team-members {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 35px;
}

.team-members .team-avatar {
  position: relative;
}

.team-members .team-avatar:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  background: rgba(129, 129, 129, 0.1);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.team-members .team-avatar img {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.team-members .team-desc {
  left: auto;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  opacity: 0;
  color: #fff;
  -webkit-transform: translate3d(0, 10%, 0);
  transform: translate3d(0, 10%, 0);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.team-members .team-desc span.f-red {
  color: #FEEAEA;
}

.team-members .team-desc h4 {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 10px;
  color: #fff;
}

.team-members .team-desc span {
  display: block;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.team-members:hover .team-avatar:after {
  background: rgba(47, 60, 72, 0.5);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.team-members:hover .team-desc {
  -webkit-transform: translate3d(0, -5%, 0);
  transform: translate3d(0, -5%, 0);
  -webkit-transform: translate3d(0, -10%, 0);
  transform: translate3d(0, -10%, 0);
}

.team-members:hover .team-desc {
  opacity: 1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

#partner img {
  height: 120px;
}

#recent-works a {
  color: white;
}

.wpcf7 form div {
  padding-left: 0px;
}

#support img {
  padding: 20px;
}
#support h1 {
  color: #4e4e4e;
}

.hk-box {
  background: #D6E686;
}

.shade_ico {
  width: 100%;
  height: 10px;
  display: inline-block;
  background: url(../images/bot_shade.png) no-repeat;
  position: absolute;
  bottom: -10px;
  left: 0;
}

footer p {
  color: #4e4e4e;
}

.job-page {
  background: #fafaf7;
}

.item-area p {
  margin: 0px;
}
.item-area ul li:hover {
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}
.item-area li {
  background: white;
}
.item-area li p {
  padding-left: 10px;
}
.item-area a {
  color: white;
}

.jobList:hover {
  background: #f2f2f2;
}

.job-row.job-item li.heading-one:hover {
  background: #A52022;
}

.jobList {
  padding: 6px 0 5px 0px;
  border-bottom: 1px solid #eee;
  height: 88px;
  background: #fff;
  cursor: pointer;
  position: relative;
}

.jobList ul {
  padding-left: 20px;
}
.jobList ul li {
  height: 38px;
  line-height: 38px;
  overflow: hidden;
}
.jobList ul li span {
  float: left;
}
.jobList ul .l1 {
  font-size: 16px;
  color: #0168B7;
}
.jobList ul .l2 {
  font-size: 14px;
}

.jobList ul .l1 .e1,
.jobList ul .l2 .e1 {
  width: 230px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jobList ul .l1 .e2,
.jobList ul .l2 .e2 {
  width: 160px;
  overflow: hidden;
}

.jobList ul .l1 .e2 {
  font-size: 14px;
  color: #999;
}

.jobList ul .l1 .e3,
.jobList ul .l2 .e3 {
  width: 230px;
  overflow: hidden;
  color: #999999;
}

.recent-work-wrap .recent-work-inner h3 a:hover {
  text-shadow: 0 3px 5px black;
  color: #fff;
}

a.preview:hover {
  text-shadow: 0 3px 5px black;
  color: #fff;
}

.tab-content img {
  width: 200px;
}

#news .slider {
  margin-bottom: 50px;
}

/**
 * llg
 */
@media (min-width: 1600px) {
  .container {
    width: 1500px;
    width: 70%;
  }
}
/* lg */
@media (min-width: 1200px) {
  /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
    display: block;
    -webkit-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
  }

  .list-inline > li a {
    width: 200px;
  }

  .portfolio .row {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
    display: block;
    -webkit-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
  }

  .navbar-nav > li {
    margin-left: 10px;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .recent-work-wrap .recent-work-inner h3 a {
    font-size: 20px;
  }

  .recent-work-wrap .overlay {
    padding: 15px;
  }

  .services-wrap {
    padding: 40px 10px 40px 30px;
  }

  .feature-wrap h2,
  .single-services h2 {
    font-size: 18px;
  }

  .feature-wrap h3,
  .single-services h3 {
    font-size: 14px;
  }

  .tab-wrap .media .parrent.pull-left {
    clear: both;
    width: 100%;
  }

  .tab-wrap .media .parrent.media-body {
    clear: both;
  }

  .portfolio .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  .recent-work-wrap .overlay .preview {
    line-height: inherit;
  }

  .team-bar .first-arrow {
    width: 21%;
  }

  .team-bar .second-arrow {
    width: 20%;
  }

  .team-bar .third-arrow {
    width: 21%;
  }

  .team-bar .fourth-arrow {
    width: 20%;
  }

  ul.social_icons li {
    margin-right: 0;
  }
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
    display: block;
    -webkit-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
  }

  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin: 20px;
  }

  .list-inline > li a {
    width: 200px;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-nav > li {
    margin-left: 0;
  }

  #main-slider .carousel h1 {
    font-size: 25px;
  }

  #main-slider .carousel h2 {
    font-size: 20px;
  }

  .tab-wrap .media .parrent.pull-left,
  .media.accordion-inner .pull-left {
    clear: both;
    width: 100%;
  }

  .tab-wrap .media .parrent.media-body,
  .media.accordion-inner .media-body {
    clear: both;
  }

  .services-wrap {
    padding: 40px 0 40px 30px;
  }

  .recent-work-wrap .overlay {
    padding: 15px;
  }

  .recent-work-wrap .recent-work-inner h3 a {
    font-size: 20px;
  }

  .sinlge-skill {
    width: 150px;
    height: 150px;
  }

  .sinlge-skill p em {
    font-size: 25px;
  }

  .sinlge-skill p {
    font-size: 16px;
  }

  .team-bar .first-one-arrow {
    width: 2%;
  }

  .team-bar .first-arrow {
    width: 18%;
  }

  .team-bar .second-arrow {
    width: 24%;
  }

  .team-bar .third-arrow {
    width: 15%;
  }

  .team-bar .fourth-arrow {
    width: 20%;
  }

  .blog .blog-item .entry-meta > span a {
    font-size: 10px;
  }
}
/* xs */
@media (max-width: 767px) {
  .container > .navbar-header,
  .container > .navbar-collapse {
    margin-left: 0;
  }

  .top-number {
    font-size: 14px;
  }

  input.search-form:hover {
    width: 120px;
  }

  .navbar-nav > li {
    padding-bottom: 0;
  }

  #main-slider .carousel h1 {
    font-size: 25px;
  }

  #main-slider .carousel h2 {
    font-size: 16px;
  }

  .feature-wrap h2,
  .single-services h2 {
    font-size: 18px;
  }

  .feature-wrap h3,
  .single-services h3 {
    font-size: 14px;
  }

  .media.accordion-inner .pull-left,
  .media.accordion-inner .media-body {
    clear: both;
  }

  .accordion-inner h4 {
    margin-top: 10px;
  }

  .tab-wrap .media .pull-left {
    clear: both;
    width: 100%;
  }

  .tab-wrap .media .media-body {
    clear: both;
  }

  .nav-tabs > li.active > a:after {
    display: none;
  }

  #footer .col-sm-6 {
    text-align: center;
  }

  #footer .pull-right {
    float: none !important;
  }

  .sinlge-skill {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .team .single-profile-top,
  .team .single-profile-bottom {
    margin-bottom: 30px;
  }

  .clients-area {
    padding: 60px 0;
  }

  .clients-area h1 {
    font-size: 25px;
  }

  .portfolio-item,
  #recent-works .col-xs-12.col-sm-4.col-md-3 {
    padding: 0 15px;
  }

  ul.social_icons li {
    margin-right: 0;
  }

  .blog .blog-item .entry-meta {
    margin-bottom: 20px;
  }

  .blog .blog-item .blog-content h3 {
    margin-bottom: 20px;
  }

  .post_reply_comments {
    padding-left: 20px;
  }
  #bottom{
    padding:30px 0;
  }
  #bottom .widget{
    margin-bottom:2em;
  }
  .contact-info i {
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
  }
}
/* XS Portrait */


/*
艺文资讯
 */
.ltitle{
  text-align:center;
}
.mtitle{
  text-align:center;
  color:#d9534f;
  margin-bottom:1em;
}
.yiwen-post img{
  margin-bottom:1em;
}
.info-box{
  border: 1px solid #bce8f1;
  background-color: #fff;
      margin-bottom: 1.5em;
    border-radius: 4px;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #d9534f;
}
.imgcenter img{
  margin: 0 auto;
}
.mdimg img{
  width: 200px;
  height: auto;
  margin-right: 20px;
}