.site-branding{margin-top:60px;margin-bottom:54px;text-align:center}
.site-branding .site-title{font-weight:400;font-size:42px;color:#383838;line-height:60px;margin-bottom:30px}
.site-branding .site-title a{font-size:36px;color:#383838;text-decoration:none}
.site-branding .site-description{font-weight:200;font-size:22px;color:rgba(66,56,56,0.8);line-height:35px;padding-top:1%}
.tb-category{text-align:center;margin-bottom:62px}
.tb-category ul{margin:0}
.tb-category ul li{opacity:1;display:inline-block;text-align:center;border:1px solid #A6A6A6;border-radius:24px;margin:0 10px 10px;overflow:hidden;transition:all .218s ease;background-color:transparent}
.tb-category ul li a{display:inline-block;width:130px;color:#A6A6A6;font-size:14px;padding:12px 0;text-decoration:none!important;-webkit-transition:all .218s ease-in-out;-o-transition:all .218s ease-in-out;transition:all .218s ease-in-out}
.tb-category ul li .article-btn1{color:#ff5722}
.tb-category ul li .article-btn1:focus,.tb-category ul li .article-btn1:hover{color:#fff;font-size:16px;font-weight:600;background-color:#ff5722}
.tb-category ul li .article-btn2{color:#ab47bc}
.tb-category ul li .article-btn2:focus,.tb-category ul li .article-btn2:hover{color:#fff;font-size:16px;font-weight:600;background-color:#ab47bc}
.cards{overflow:hidden;max-width:990px;margin:0 auto}
.cards article{position:relative;top:0;float:left;width:300px;height:400px;margin:15px;overflow:hidden;margin-bottom:30px;border-radius:3px;background-color:#fff;box-shadow:0 2px 5px 0 #CCCBCB;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.cards article:hover{box-shadow:10px 10px 20px #bbb;position:relative;top:-5px;transition:all .5s}
.cards article .link-wrap{display:block;padding:24px 24px 0;width:100%!important;height:100%!important}
.cards article .img-box{overflow:hidden;width:252px;height:159px;border-radius:3px;border:1px solid transparent}
.cards article img{width:100%;border-radius: 5px;height:auto;position:relative;left:0;-webkit-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease;transform:scale(1.0)}
.cards article .height-limiter{display:block;height:240px;overflow:hidden}
.cards article .entry-header{font-size:18px;color:#383838;line-height:24px}
.cards article .entry-content{font-size:14px;color:gray;line-height:20px;overflow:hidden;text-overflow:ellipsis}
.cards article .entry-category{position:absolute;bottom:16px;left:24px}
.cards article .entry-meta .entry-date{font-size:14px;color:#A6A6A6;line-height:20px}
.alm-btn-wrap{width:100%!important;clear:both!important;overflow:hidden!important;padding:60px 0 100px!important}
.btn.load-more{display:block!important;font-size:18px;color:#03A9F4;line-height:26px;font-size:20px;width:200px;height:50px;margin:0 auto;background:#fff!important;border:1px solid #03A9F4;opacity:1;transition:opacity .518s ease-out}
.btn.load-more:hover{background-color:#03A9F4!important;color:#fff;-webkit-transition:all .218s ease-in-out;-o-transition:all .218s ease-in-out;transition:all .218s ease-in-out}