.job-page {
  background: #fafaf7;
  margin-bottom: 2em;
}

.item-area p {
  margin: 0;
}

.item-area ul li:hover {
  box-shadow: 0 0 10px #ccc;
}

.item-area li {
  background: #fff;
}

.item-area li p {
  padding-left: 10px;
}

.item-area a {
  color: #fff;
}

.jobList:hover {
  background: #f2f2f2;
}

.job-row.job-item li.heading-one:hover {
  background: #a52022;
}

.jobList {
  padding: 6px 0 5px;
  border-bottom: 1px solid #eee;
  height: 88px;
  background: #fff;
  cursor: pointer;
  position: relative;
}

.jobList ul {
  padding-left: 20px;
}

.jobList ul li {
  height: 38px;
  line-height: 38px;
  overflow: hidden;
}

.jobList ul li span {
  float: left;
}

.jobList ul .l1 {
  font-size: 1pc;
  color: #0168b7;
}

.jobList ul .l2 {
  font-size: 14px;
}

.jobList ul .l1 .e1,
.jobList ul .l2 .e1 {
  width: 230px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jobList ul .l1 .e2,
.jobList ul .l2 .e2 {
  width: 10pc;
  overflow: hidden;
}

.jobList ul .l1 .e2 {
  font-size: 14px;
  color: #999;
}

.jobList ul .l1 .e3,
.jobList ul .l2 .e3 {
  width: 230px;
  overflow: hidden;
  color: #999;
}

.recent-work-wrap .recent-work-inner h3 a:hover,
a.preview:hover {
  text-shadow: 0 3px 5px #000;
  color: #fff;
}

.tab-content img {
  width: 200px;
}
