#jumu {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 5em;
}
.jumu-type {
  background-color: #eee;
  width: 250px;
  min-height: 400px;
  float: left;
  margin-bottom: 5em;
  margin-top: 15px;
}
.jumu-type h4 {
  font-size: 16px;
  margin-left: 20px;
}
.jumu-type h3 {
  text-align: center;
}
.jumu-type li {
  width: 90px;
  float: left;
  line-height: 30px;
}
.jumu-type a {
  color: #333;
}
.jumu-type a:hover {
  background-color: #c52d2f;
  color: #fff;
  padding: 2px 4px;
}
.jumu-type a:active {
  background-color: #c52d2f;
  color: #fff;
  border-radius: 5px;
  padding: 2px 4px;
}
#jumu_con {
  margin-bottom: 5em;
}
.jumu-type .clear {
  clear: both;
}
.tab_top {
  margin-top: 50px;
  margin-bottom: 70px;
}
.tab_top img {
  margin-top: 20px;
}
#jumu_con .jumu_title {
  margin-bottom: 50px;
}
#jumu_con .jumu_title_p hr {
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 1px dashed #dadada;
  margin: 0;
}
#jumu_con .tab_title {
  width: 100%;
  padding-left: 30px;
  height: 45px;
  line-height: 45px;
  background: url(../assets/img/bg/u99.png) no-repeat;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid #c52d2f;
  margin: 20px 0;
}
#jumu .jm-zhaiyao {
  color: #5f5f5f;
}
.jingjiren .jjr {
  padding: 30px;
}
.jingjiren .jjr h4 {
  text-align: center;
}
.jingjiren .jjr img {
  width: 100%;
}
.cards article .link-wrap2 {
  display: block;
  padding: 10px 24px 0;
  width: 100% !important;
  height: 100% !important;
}
.cards article .img-box2 {
  overflow: hidden;
  width: 252px;
  height: 175px;
  border: 1px solid transparent;
}
.cards article .img-box2 .time {
  margin-bottom: 5px;
  float: right;
  font-size: 12px;
  color: #636363;
}
.cards article .height-limiter h4 {
  color: #000;
  font-size: 18px;
  margin: 10px auto;
}
.cards article .img-box2 .type {
  background-color: #c52d2f;
  padding: 1px 4px;
  color: #fff;
  float: left;
}
.jumuhr {
  width: 100% !important;
}

.zanzhua {
  color: #333 !important;
}
.site-branding {
  margin-top: 60px;
  margin-bottom: 54px;
  text-align: center;
}

.site-branding .site-title {
  font-weight: 400;
  font-size: 42px;
  color: #383838;
  line-height: 60px;
  margin-bottom: 30px;
}

.site-branding .site-title a {
  font-size: 36px;
  color: #383838;
  text-decoration: none;
}

.site-branding .site-description {
  font-weight: 200;
  font-size: 22px;
  color: rgba(66, 56, 56, 0.8);
  line-height: 35px;
  padding-top: 1%;
}

.cards {
  overflow: hidden;
  max-width: 990px;
  margin: 0 auto;
  height: 0;
}

.cards article {
  position: relative;
  top: 0;
  float: left;
  width: 300px;
  height: 25pc;
  margin: 15px;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 #cccbcb;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cards article:hover {
  box-shadow: 10px 10px 20px #bbb;
  position: relative;
  top: -5px;
  transition: all 0.5s;
}

.cards article .link-wrap {
  display: block;
  padding: 5px 24px 10px;
  width: 100% !important;

  overflow: hidden;
  color: gray;
}

.cards article .img-box {
  overflow: hidden;
  width: 252px;
  height: 159px;
  border: 1px solid transparent;
}

.cards article img {
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  transform: scale(1);
}

.cards article .height-limiter {
  display: block;
  height: 15pc;
  overflow: hidden;
}

.cards article .entry-header {
  font-size: 18px;
  color: #383838;
  line-height: 24px;
}

.cards article .entry-content {
  font-size: 14px;
  color: gray;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards article .entry-category {
  position: absolute;
  bottom: 1pc;
  left: 24px;
}

.cards article .entry-meta .entry-date {
  font-size: 14px;
  color: #a6a6a6;
  line-height: 20px;
}

.jumu-cards {
  height: 250px !important;
}
