#support {
	img {
		padding: 20px;
	}
	img.small {
		padding: 0;
	}
	h1 {
		color: #4e4e4e;
	}
	.suptxt {
		a {
			color: #fff;
		}
	}
}
.suptxt {
	.sup-border {
		.col-sm-2 {
			height: 212px;
			margin-top: 10px;
			border: 1px solid #c5c5c5;
			border-radius: 20px;
		}
	}
}
